<style>
.colorimg
{
display:none;
}
.defaultheader .traimg
{
display:block;
}
.bgheader .colorimg
{
display:block !important;
}
.defaultheader .nav > li > a{
color:#fff !important;
}
.bgheader .nav > li > a{
color:#000 !important;
}
.listing-section {
    width: 100%;
    margin: 0 auto 20px;
}
.featuredtitle {
    width: 100%;
    margin: 0 auto;
}
.jobs-by .container {
    padding: 55px 50px 50px;
    position: relative;
    width: 93%;
}
.btncss:hover {
       /* background: rgb(93, 93, 60) !important; */
       background: #353d46  !important;
       color: #fff;
       border-color: #fab001;
       text-decoration: none;
}

	.btncss {
    background-color:#b92917 ;
    background-image: none;
    border: 0 solid #ffffff;
    color: #fff;
    width: 100%;
    border-radius: 9px;
    /* new-code */
    line-height: 16px;
    margin: 0 auto;
    padding: 1em;
    text-indent: 0;
    border: solid 2px #f7f7f7!important;
   	font-weight: 700;
    letter-spacing: 0;
    text-decoration: none;
    text-shadow: none;
    cursor: pointer;
    transition: background-color .1s linear;
    vertical-align: middle;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 1em;
    display: inline-block;
}
.caption p {
    font-size: 35px;
    line-height: 26px;
    margin: 0 0 20px;
    font-weight: 400;
    color: #ffffff !important;
}
.btnalert {
    background-color:#b92917;
    background-image: none;
    border: 0 solid #ffffff !important;
    color: #fff;
    border-radius: 9px;
    line-height: 16px;
    margin: 0 auto;
    padding: 1em;
    text-indent: 0;
    font-weight: 700;
    letter-spacing: 0;
    text-decoration: none;
    text-shadow: none;
    cursor: pointer;
    transition: background-color .1s linear;
    vertical-align: middle;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 1em;
    display: inline-block;
}


.btnalert:hover {
   background:#353d46  !important;
    color: #fff;
    border-color: #fab001;
    text-decoration: none;
}
.listing-title .job-title a {
    font-size: 18px !important;
    color: #b92917 !important;
    display: inline-block !important;
    word-break: break-word !important;
}
.browse-by__list .count {
    color: #353d46;
    font-weight: 500;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
     border-top-color:#b92917 !important;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #b92917 !important;
    margin-top: 0px !important;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    border-top-color:  !important;
}
.jobs-by__wrapper {
    background:  #999;
    overflow: hidden;
}
.jobs-by a {
   	color: #353d46;
}
.jobs-by a:hover {
    color: #ff0000;
    }

  .imaglayer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }

 @media (min-width: 768px){
      .defaultheader{
          padding: 30px;
      }
      nav.navbar.navbar-static-top.defaultheader {
	  background: transparent;
      box-shadow: none !important;
  }
}

.skin-blue .main-header .navbar .nav > li > a {
    font-size: 20px;
	color:#fff;
}
.navbar-nav>li:hover
{
	background-color:transparent;

}

.skin-blue .main-header .navbar .nav > li > a:hover {
    background-color: transparent !important;
	border-bottom:solid #fff;
	color:#fff;
}

.bgheader {
      width: 100%;
      overflow: visible;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#fff'));
      background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
      box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.55);
      transform: translateZ(0);
      transition: all 0.5s !important;
	  font-color:black !important;
  }


@media (max-width: 767px){
     	 .searchjob {
         	 margin-top: 40px;
      }
      }

	  @media (min-width: 768px){
     	 .searchjob {
         	 margin-top: 280px;
      }
      }

  .newslettericon i {
      font-size: 70px;
  }
  .newslettericon {
      margin-right: 30px;
      margin-top: 15px;
  }
  .jobalertrow {
      margin-top: 20px;
      border-bottom: 1px solid #ddd;
      padding-bottom: 10px;
  }

  .nav-tabs>li {
    float: left;
    margin-bottom: -1px;
    color: #fff;
	width: 33.3%;
	text-align: center;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    cursor: default;
	font-size: 18px;
    font-weight: bold;
    border-bottom-color: transparent;
}
.nav-tabs>li>a:focus, .nav-tabs>li>a:hover {
    text-decoration: none;
    background-color: #999;
	color: #fff !important;
	font-size: 18px;
    font-weight: bold;
	border:1px solid transparent;
}

.nav-tabs>li>a {
    color: #ffffff !important;
    border-radius: 0px;
	font-size: 18px;
    font-weight: bold;
	background-color: #999;
	margin-right:1px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color:#b92917 !important;
    cursor: default;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom-color: transparent;
}

/*
#jobs_by_category_panel, #jobs_by_category_flip, #jobs_by_city_panel, #jobs_by_city_flip,#jobs_by_state_panel, #jobs_by_state_flip  {
    padding: 5px;

    background-color: #b92917;
    border: solid 1px #595C64;
	color:#fff;
	cursor:pointer;
}

#jobs_by_category_panel, #jobs_by_city_panel,#jobs_by_state_panel {
    height:200px;
	padding: 5px;
	color:#595C64;
	background-color: #fff;
}
.jobs-by__wrapper
{
background-image:url(resource/css/img/home-banner.jpg);
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
*/
  </style>
<!--
  <div class="imgscr"  style="box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.07); margin-top: -60px; !important">

<img src="images/laptops.jpg" class="img-responsive imgshadow" alt="" >

  </div>
-->

    <!-- content start here -->
    <div class="slider img-container" style="background-image:url(resource/css/img/1.jpg);box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.07); background-repeat: no-repeat;background-size: cover; margin-top: -60px !important; height: 720px;" >
      <div class="imaglayer">
        <div class="container">
          <div class="row">
            <div class="searchform">
              <div class="container">
                <div class="row">
                  <div class="searchjob_hover">
                    <h4 class="listing__title ">

                    </h4>

                   <!-- title -->
                        <div class="caption" style="margin-top:300px;">
                  <h1>Get RedGummi!</h1>
                  <p>Find Your Future Job</p>
                </div>
                   <!--  title ends  -->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 search_job">

                      <div class="searchjob">


                        <form id="frm_jobs_filtration" action="#" method="get" class="search-area search-bg">
                          <div class="col-lg-6 col-md-6 col-sm-5 pad_0">
                            <div class="search-input search-icon" >
                              <span class="icon-search" style="background-image:url(resource/css/img/outside/chair.png)">
                              </span>

                              <input type="text" placeholder="Company Name or Job Title or Key word" name="job_title" >

                            </div>
                          </div>

                          <div class="col-lg-4 col-md-4 col-sm-4 pad_0">
                            <div class="search-input">
                              <i class="icon-search7">
                              </i>
                              <input type="text" id="location" placeholder="Preferred Locations" name="locations">
                            </div>
                          </div>
                          <div class="col-lg-2 col-md-2 col-sm-3 pad_0">
                            <div class="search-btn">
                              <a href="#/search-results">
                                <input type="submit" class="btncss" name="cs_" value="Search All Jobs">
                              </a>
                            </div>
                          </div>
                        </form>
                      </div>

                    </div>
                  </div>
                  <!--  Listing Code -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
 <!-------
 	<div style="background:#d7d7c1;height:380px;width:100%;display: table;">
      <div class="text-center"  style="vertical-align:middle;display: table-cell;">
      	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      		<h2 style="color: #353d46 !important;font-size: 40px;margin-bottom: 40px;">GET JOB ALERTS</h2>
      		<p style="color: #353d46;font-size: 20px;margin-bottom: 50px;">Get the latest jobs first direct to your inbox.Sign up now.</p>
      	</div>
      	  	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    			<p><a href="#/job-alert"><span class="btn btnalert">CREATE JOB ALERT</span></a></p>
    		</div>
      </div>
     </div>
	 -------------->


    <div class="container">
      <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="featuredtitle">
            <h4 class="listing__title " style="text-align: left;">
              Featured Jobs
          </h4>
        </div>
        </div>


        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div ng-hide="!showEmptyMsg" style="padding: 15px;">
            <h5>No Jobs Retrieved</h5>
          </div>
          <div class="listing-section" ng-repeat="items in getAllJobs | orderBy:'timestamp': 'true' | limitTo: '10'" ng-hide="!showJobsList">
            <div class=" row listing-info">
              <div class="col-sm-12 col-md-3 col-lg-2 col-xs-12">
                <div class="right-side2">
                  <a href="">
                    <center>
                      <!-- <img src="resource/css/img/outside/logo.jpg" class="img-responsive" alt=""> -->
                      <!-- <img src="http://snigdha.co.in/images/logo.png" class="img-responsive" style="width:140px; padding: 8px; margin-top: 25px;" /> -->
                      <!--<img src="resource/css/img/red_gummi_logo.jpg" class="img-responsive" style="width:140px; padding: 8px; margin-top: 25px;" />-->
                      <img src="{{defaultImgPath.path}}" class="img-responsive img-forJobsLogo" />
                    </center>
                  </a>
                </div>
              </div>
              <div class="col-sm-12 col-md-9 col-lg-10 col-xs-12">
                <div class="row">
                  <div class="left-side1">
                    <div class="listing-title">
                      <div class="job-title">
                        <a href="" ng-click="gotoSingleJobDetails(items)">{{items.updateParsedJson.JobData.JobProfile[0]}}
                        </a>
                        <span class="activatedate">
                          <span class="captions-field">{{items.updateParsedJson.JobData.ParsingDate[0] | limitTo: '10'}}
                          </span>
                        </span>
                      </div>
                    </div>
                    <div class="locationcss">
                      <ul class="list-inline" style="text-align:left">
                        <li>
                          <i class="fa fa-suitcase" aria-hidden="true"></i>
                          <span class="ng-binding"> Snigdha Technosoft
                          </span>
                        </li>
                        <li>
                          <i class="fa fa-map-marker" aria-hidden="true"></i>
                          <span class="ng-binding"> {{items.updateParsedJson.JobData.Location[0]}}
                          </span>
                        </li>
                      </ul>
                    </div>
                    <div class="show-brief">
                      <div class="description">
                        <!-- {{items.JobDescription[0]}} -->
                        Required {{items.updateParsedJson.JobData.ExperienceRequired[0]}} experienced candidate, as a {{items.updateParsedJson.JobData.JobProfile[0]}}
                          in skills like -- {{items.updateParsedJson.JobData.Skills[0].Skill[0].name}}, {{items.updateParsedJson.JobData.Skills[0].Skill[1].name}},
                          {{items.updateParsedJson.JobData.Skills[0].Skill[2].name}}, {{items.updateParsedJson.JobData.Skills[0].Skill[3].name}}, {{items.updateParsedJson.JobData.Skills[0].Skill[4].name}}
                          , {{items.updateParsedJson.JobData.Skills[0].Skill[5].name}}, {{items.updateParsedJson.JobData.Skills[0].Skill[6].name}}, {{items.updateParsedJson.JobData.Skills[0].Skill[7].name}}
                      </div>
                    </div>
                    <br>
                    <div class="locationcss">
                      <ul class="list-inline" style="text-align:left">
                        <li>
                          <i class="fa fa-usd" aria-hidden="true"></i>
                          <span class="ng-binding" ng-if="items.updateParsedJson.JobData.SalaryOffered[0] == ''"> --- </span>
                          <span class="ng-binding" ng-if="items.updateParsedJson.JobData.SalaryOffered[0] != ''"> {{items.updateParsedJson.JobData.SalaryOffered[0]}}</span>
                        </li>
                        <li>
                          <i class="fa fa-home" aria-hidden="true"></i>
                          <span class="ng-binding"> Management
                          </span>
                        </li>
                        <li>
                          <i class="fa fa-thermometer-full" ng-if="items.updateParsedJson.JobData.HotCool[0] == 'Hot'" aria-hidden="true"></i>
                          <i class="fa fa-thermometer-full" ng-if="items.updateParsedJson.JobData.HotCool[0] != 'Hot'" style="color: #b7b7b7;" aria-hidden="true"></i>
                          <span class="ng-binding"> Hot Job
                          </span>
                        </li>
                        <li>
                          <i class="fa fa-clock-o" aria-hidden="true"></i>
                          <span class="ng-binding" ng-if="items.updateParsedJson.JobData.JobType[0] == ''">Full time</span>
                          <span class="ng-binding" ng-if="items.updateParsedJson.JobData.JobType[0] != ''">{{items.updateParsedJson.JobData.JobType[0]}}</span>
                        </li>
                        <li>
                          <i class="fa fa-graduation-cap" aria-hidden="true">
                          </i>
                          <span class="ng-binding" ng-if="items.updateParsedJson.JobData.Qualifications[0] == ''">Not Mentioned</span>
                          <span class="ng-binding" ng-if="items.updateParsedJson.JobData.Qualifications[0] != ''">{{items.updateParsedJson.JobData.Qualifications[0]}}</span>
                        </li>
                        <a href="" ng-click="saveJob(items)" ng-hide="!checkUser">
                          <li class="pull-right">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                            <span class="ng-binding">Save job</span>
                          </li>
                        </a>
                      </ul>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div style="float: right; margin: -25px 0 25px 0;">
            <a href="" ng-click="searchResultsPage()">More Jobs</a>
          </div>

          <!-- <div class="listing-section">
            <div class=" row listing-info">
              <div class="col-sm-12 col-md-3 col-lg-2 col-xs-12">
                <div class="right-side2">
                  <a href="#">
                    <center>
                      <img src="resource/css/img/outside/logo.jpg" class="img-responsive" alt="">
                    </center>
                  </a>
                </div>
              </div>
              <div class="col-sm-12 col-md-9 col-lg-10 col-xs-12">
                <div class="row">
                  <div class="left-side1">
                    <div class="listing-title">
                      <div class="job-title">
                        <a href="#/single-job-detail">Angularjs Developer

                        </a>
                        <span class="activatedate">
                          <span class="captions-field">2 hours ago
                          </span>
                        </span>
                      </div>
                    </div>
                    <div class="locationcss">
                      <ul class="list-inline" style="text-align:left">
                        <li>
                          <i class="fa fa-suitcase" aria-hidden="true"></i>
                          <span class="ng-binding"> Testers LTD
                          </span>
                        </li>
                        <li>
                          <i class="fa fa-map-marker" aria-hidden="true"></i>
                          <span class="ng-binding"> Hyderabad
                          </span>
                        </li>
                      </ul>
                    </div>
                    <div class="show-brief">
                      <div class="description">
                        Insurance agent will sell insurance policies to individuals and companies by understanding their needs, requirements and financial conditions. A candidate need to have very good communication and negotiation skills and must be hardworking and meet deadlines and targets....
                      </div>
                    </div>
                    <br>
                    <div class="locationcss">
                      <ul class="list-inline" style="text-align:left">
                        <li>
                          <i class="fa fa-usd" aria-hidden="true"></i>
                          <span class="ng-binding"> 10k
                          </span>
                        </li>
                        <li>
                          <i class="fa fa-home" aria-hidden="true"></i>
                          <span class="ng-binding"> Management
                          </span>
                        </li>
                        <li>
                          <i class="fa fa-thermometer-full" aria-hidden="true"></i>
                          <span class="ng-binding"> Hot Job
                          </span>
                        </li>
                        <li>
                          <i class="fa fa-clock-o" aria-hidden="true"></i>
                          <span class="ng-binding"> Full time
                          </span>
                        </li>
                        <li>
                          <i class="fa fa-graduation-cap" aria-hidden="true">
                          </i>
                          <span class="ng-binding">Graduate
                          </span>
                        </li>
                        <a href="#">
                          <li class="pull-right">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                            <span class="ng-binding">Save job</span>
                          </li>
                        </a>
                      </ul>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="listing-section">
            <div class=" row listing-info">
              <div class="col-sm-12 col-md-3 col-lg-2 col-xs-12">
                <div class="right-side2">
                  <a href="#">
                    <center>
                      <img src="resource/css/img/outside/logo.jpg" class="img-responsive" alt="">
                    </center>
                  </a>
                </div>
              </div>
              <div class="col-sm-12 col-md-9 col-lg-10 col-xs-12">
                <div class="row">
                  <div class="left-side1">
                    <div class="listing-title">
                      <div class="job-title">
                        <a href="">Insurance agent
                        </a>
                        <span class="activatedate">
                          <span class="captions-field">7 hours ago
                          </span>
                        </span>
                      </div>
                    </div>
                    <div class="locationcss">
                      <ul class="list-inline" style="text-align:left">
                        <li>
                          <i class="fa fa-suitcase" aria-hidden="true"></i>
                          <span class="ng-binding"> Testers LTD
                          </span>
                        </li>
                        <li>
                          <i class="fa fa-map-marker" aria-hidden="true"></i>
                          <span class="ng-binding"> Sacramento, CA
                          </span>
                        </li>
                      </ul>
                    </div>
                    <div class="show-brief">
                      <div class="description">
                        Insurance agent will sell insurance policies to individuals and companies by understanding their needs, requirements and financial conditions. A candidate need to have very good communication and negotiation skills and must be hardworking and meet deadlines and targets....
                      </div>
                    </div>
                    <br>
                    <div class="locationcss">
                     <ul class="list-inline" style="text-align:left">
                        <li>
                          <i class="fa fa-usd" aria-hidden="true"></i>
                          <span class="ng-binding"> 10k
                          </span>
                        </li>
                        <li>
                          <i class="fa fa-home" aria-hidden="true"></i>
                          <span class="ng-binding"> Management
                          </span>
                        </li>
                        <li>
                          <i class="fa fa-thermometer-full" aria-hidden="true"></i>
                          <span class="ng-binding"> Hot Job
                          </span>
                        </li>
                        <li>
                          <i class="fa fa-clock-o" aria-hidden="true"></i>
                          <span class="ng-binding"> Part time
                          </span>
                        </li>
                        <li>
                          <i class="fa fa-graduation-cap" aria-hidden="true">
                          </i>
                          <span class="ng-binding">Graduate
                          </span>
                        </li>
                        <a href="#">
                          <li class="pull-right">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                            <span class="ng-binding">Save job</span>
                          </li>
                        </a>
                      </ul>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="listing-section">
            <div class=" row listing-info">
              <div class="col-sm-12 col-md-3 col-lg-2 col-xs-12">
                <div class="right-side2">
                  <a href="#">
                    <center>
                      <img src="resource/css/img/outside/logo.jpg" class="img-responsive" alt="">
                    </center>
                  </a>
                </div>
              </div>
              <div class="col-sm-12 col-md-9 col-lg-10 col-xs-12">
                <div class="row">
                  <div class="left-side1">
                    <div class="listing-title">
                      <div class="job-title">
                        <a href="#/single-job-detail">Angularjs Developer
                        </a>
                        <span class="activatedate">
                          <span class="captions-field">1 days ago
                          </span>
                        </span>
                      </div>
                    </div>
                    <div class="locationcss">
                      <ul class="list-inline" style="text-align:left">
                        <li>
                          <i class="fa fa-suitcase" aria-hidden="true"></i>
                          <span class="ng-binding"> Testers LTD
                          </span>
                        </li>
                        <li>
                          <i class="fa fa-map-marker" aria-hidden="true"></i>
                          <span class="ng-binding"> Hyderabad
                          </span>
                        </li>
                      </ul>
                    </div>
                    <div class="show-brief">
                      <div class="description">
                        Insurance agent will sell insurance policies to individuals and companies by understanding their needs, requirements and financial conditions. A candidate need to have very good communication and negotiation skills and must be hardworking and meet deadlines and targets....
                      </div>
                    </div>
                    <br>
                    <div class="locationcss">
                      <ul class="list-inline" style="text-align:left">
                        <li>
                          <i class="fa fa-usd" aria-hidden="true"></i>
                          <span class="ng-binding"> 10k
                          </span>
                        </li>
                        <li>
                          <i class="fa fa-home" aria-hidden="true"></i>
                          <span class="ng-binding"> Management
                          </span>
                        </li>
                        <li>
                          <i class="fa fa-thermometer-full" aria-hidden="true"></i>
                          <span class="ng-binding"> Hot Job
                          </span>
                        </li>
                        <li>
                          <i class="fa fa-clock-o" aria-hidden="true"></i>
                          <span class="ng-binding"> Full time
                          </span>
                        </li>
                        <li>
                          <i class="fa fa-graduation-cap" aria-hidden="true">
                          </i>
                          <span class="ng-binding">Graduate
                          </span>
                        </li>
                        <a href="#">
                          <li class="pull-right">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                            <span class="ng-binding">Save job</span>
                          </li>
                        </a>
                      </ul>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="listing-section">
            <div class=" row listing-info">
              <div class="col-sm-12 col-md-3 col-lg-2 col-xs-12">
                <div class="right-side2">
                  <a href="#">
                    <center>
                      <img src="resource/css/img/outside/logo.jpg" class="img-responsive" alt="">
                    </center>
                  </a>
                </div>
              </div>
              <div class="col-sm-12 col-md-9 col-lg-10 col-xs-12">
                <div class="row">
                  <div class="left-side1">
                    <div class="listing-title">
                      <div class="job-title">
                        <a href="">Insurance agent
                        </a>
                        <span class="activatedate">
                          <span class="captions-field">2 days ago
                          </span>
                        </span>
                      </div>
                    </div>
                    <div class="locationcss">
                      <ul class="list-inline" style="text-align:left">
                        <li>
                          <i class="fa fa-suitcase" aria-hidden="true"></i>
                          <span class="ng-binding"> Testers LTD
                          </span>
                        </li>
                        <li>
                          <i class="fa fa-map-marker" aria-hidden="true"></i>
                          <span class="ng-binding"> Sacramento, CA
                          </span>
                        </li>
                      </ul>
                    </div>
                    <div class="show-brief">
                      <div class="description">
                        Insurance agent will sell insurance policies to individuals and companies by understanding their needs, requirements and financial conditions. A candidate need to have very good communication and negotiation skills and must be hardworking and meet deadlines and targets....
                      </div>
                    </div>
                    <br>
                    <div class="locationcss">
                     <ul class="list-inline" style="text-align:left">
                        <li>
                          <i class="fa fa-usd" aria-hidden="true"></i>
                          <span class="ng-binding"> 10k
                          </span>
                        </li>
                        <li>
                          <i class="fa fa-home" aria-hidden="true"></i>
                          <span class="ng-binding"> Management
                          </span>
                        </li>
                        <li>
                          <i class="fa fa-thermometer-full" aria-hidden="true"></i>
                          <span class="ng-binding"> Hot Job
                          </span>
                        </li>
                        <li>
                          <i class="fa fa-clock-o" aria-hidden="true"></i>
                          <span class="ng-binding"> Part time
                          </span>
                        </li>
                        <li>
                          <i class="fa fa-graduation-cap" aria-hidden="true">
                          </i>
                          <span class="ng-binding">Graduate
                          </span>
                        </li>
                        <a href="#">
                          <li class="pull-right">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                            <span class="ng-binding">Save job</span>
                          </li>
                        </a>
                      </ul>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->

        </div>
      </div>
    </div>
    <!-- Tabs code
    <div class="jobs-by__wrapper jobs-by">
		<div class="container-fluid">
			<div class="row" style="padding: 55px 50px 50px;position: relative;">
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<div id="jobs_by_category_flip"><h3 align="center" style="color:#fff;">Jobs By Category</h3></div>
					<div id="jobs_by_category_panel">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<p>
							Accounting  (5)
							</p>
							<p>
							Admin-Clerical  (5)
							</p>
							<p>
							Banking  (1)
							</p>
							<p>
							Consultant  (1)
							</p>
							<p>
							Finance  (1)
							</p>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<p>
							Franchise  (1)
							</p>
							<p>
							Human Resources  (1)
							</p>
							<p>
							Insurance  (1)
							</p>
							<p>
							Management  (2)
							</p>

						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<div id="jobs_by_city_flip"><h3 align="center" style="color:#fff;">Jobs By City</h3></div>
					<div id="jobs_by_city_panel">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<p>
							Atlanta  (1)
							</p>
							<p>
							Cambridge  (3)
							</p>
							<p>
							Durango  (2)
							</p>
							<p>
							Sacramento  (2)
							</p>
							<p>
							San Francisco  (1)
							</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<div id="jobs_by_state_flip"><h3 align="center" style="color:#fff;">Jobs By State</h3></div>
					<div id="jobs_by_state_panel">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<p>
							California  (3)
							</p>
							<p>
							Colorado  (2)
							</p>
							<p>
							Georgia  (1)
							</p>
							<p>
							Massachusetts  (3)
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>-->


    <div class="jobs-by__wrapper jobs-by">
      <div class="container container-fluid">
		<ul class="nav nav-tabs responsive-tabs">
		  <li class="active" ><a href="#jobsCategory">Jobs By Category</a></li>
		  <li><a href="#jobsCity">Jobs By City</a></li>
		  <li><a href="#jobsState">Jobs By State</a></li>
		</ul>

			<div class="tab-content">
			  <div class="tab-pane active" id="jobsCategory" style="height:250px;background-color: #999;color: #fff;font-size: 18px;">
					<div style="padding:20px;">
						<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
									<p>
									Accounting  (5)
									</p>
									<p>
									Admin-Clerical  (5)
									</p>
									<p>
									Banking  (1)
									</p>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
									<p>
									Consultant  (1)
									</p>
									<p>
									Finance  (1)
									</p>
									<p>
									Human Resources  (1)
									</p>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
									<p>
									Insurance  (1)
									</p>
									<p>
									Management  (2)
									</p>

								</div>
					</div>
				</div>

				<div class="tab-pane" id="jobsCity" style="height:250px;background-color:#999;color:#fff;font-size: 18px;">
					<div style="padding:20px;">
						<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
								<p>
								Atlanta  (1)
								</p>
								<p>
								Cambridge  (3)
								</p>
								<p>
								Durango  (2)
								</p>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
								<p>
								Sacramento  (2)
								</p>
								<p>
								San Francisco  (1)
								</p>
						</div>

					</div>
				</div>

				<div class="tab-pane" id="jobsState" style="height:250px;background-color:#999;color:#fff;font-size: 18px;">
					<div style="padding:20px;">
						<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
								<p>
								California  (3)
								</p>
								<p>
								Colorado  (2)
								</p>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
								<p>
								Georgia  (1)
								</p>
								<p>
								Massachusetts  (3)
								</p>
						</div>
					</div>
				</div>
			</div>
        </div>
      </div>
    </div>
      <!-- Feature company code -->
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4 class="listing__title" style="margin-bottom:15px">
              FEATURED COMPANIES REGISTERED
            </h4>
            <div class="subtitle">Jobs has some kind of flexibility option - such as telecommuting, a part-time Every single one of our jobs.
            </div>
          </div>


          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="cs-clinets ">
              <div class="row">
                <div class="cs-inner-clients">
                  <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 fancy-border">
                    <div class="hovereffect">
                      <a href="">
                        <img class="img-responsive" src="resource/css/img/outside/dealon.png" alt="">
                      </a>
                      <a href="">
                        <div class="overlay">
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 fancy-border">
                    <div class="hovereffect">
                      <a href="">
                        <img class="img-responsive" src="resource/css/img/outside/dealon.png" alt="">
                      </a>
                      <a href="">
                        <div class="overlay">
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 fancy-border">
                    <div class="hovereffect">
                      <a href="">
                        <img class="img-responsive" src="resource/css/img/outside/dealon.png" alt="">
                      </a>
                      <a href="">
                        <div class="overlay">
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 fancy-border">
                    <div class="hovereffect">
                      <a href="">
                        <img class="img-responsive" src="resource/css/img/outside/dealon.png" alt="">
                      </a>
                      <a href="">
                        <div class="overlay">
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 fancy-border">
                    <div class="hovereffect">
                      <a href="">
                        <img class="img-responsive" src="resource/css/img/outside/dealon.png" alt="">
                      </a>
                      <a href="">
                        <div class="overlay">
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 fancy-border">
                    <div class="hovereffect">
                      <a href="">
                        <img class="img-responsive" src="resource/css/img/outside/dealon.png" alt="">
                      </a>
                      <a href="">
                        <div class="overlay">
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 fancy-border">
                    <div class="hovereffect">
                      <a href="">
                        <img class="img-responsive" src="resource/css/img/outside/dealon.png" alt="">
                      </a>
                      <a href="">
                        <div class="overlay">
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 fancy-border">
                    <div class="hovereffect">
                      <a href="">
                        <img class="img-responsive" src="resource/css/img/outside/dealon.png" alt="">
                      </a>
                      <a href="">
                        <div class="overlay">
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 fancy-border">
                    <div class="hovereffect">
                      <a href="">
                        <img class="img-responsive" src="resource/css/img/outside/dealon.png" alt="">
                      </a>
                      <a href="">
                        <div class="overlay">
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 fancy-border">
                    <div class="hovereffect">
                      <a href="">
                        <img class="img-responsive" src="resource/css/img/outside/dealon.png" alt="">
                      </a>
                      <a href="">
                        <div class="overlay">
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 fancy-border">
                    <div class="hovereffect">
                      <a href="">
                        <img class="img-responsive" src="resource/css/img/outside/dealon.png" alt="">
                      </a>
                      <a href="">
                        <div class="overlay">
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 fancy-border">
                    <div class="hovereffect">
                      <a href="">
                        <img class="img-responsive" src="resource/css/img/outside/dealon.png" alt="">
                      </a>
                      <a href="">
                        <div class="overlay">
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content end here -->

<!--
<script>
$(document).ready(function(){
  $('ul li').click(function(){
    $('li').removeClass("active");
    $(this).addClass("active");
});
});
</script>-->


  <script>
    $(document).ready(function()
    {

      $("#jobs_by_category").show();
      $("#jobs_by_city").hide();
      $("#jobs_by_state").hide();



      $("#jobs_by_category_tab").click(function()
      {
        $("#jobs_by_category").show();
        $("#jobs_by_city").hide();
        $("#jobs_by_state").hide();

        $('#jobs_by_category_tab').addClass('active');
        $('#jobs_by_city_tab').removeClass('active');
        $('#jobs_by_state_tab').removeClass('active');
      });

      $("#jobs_by_city_tab").click(function()
      {
        $("#jobs_by_city").show();
        $("#jobs_by_category").hide();
        $("#jobs_by_state").hide();


        $('#jobs_by_city_tab').addClass('active');
        $('#jobs_by_category_tab').removeClass('active');
        $('#jobs_by_state_tab').removeClass('active');
      });

      $("#jobs_by_state_tab").click(function()
      {
        $("#jobs_by_state").show();
        $("#jobs_by_city").hide();
        $("#jobs_by_category").hide();
        $('#jobs_by_state_tab').addClass('active');
        $('#jobs_by_city_tab').removeClass('active');
        $('#jobs_by_category_tab').removeClass('active');

      });
    });


    $(function() {

    var header = $(".defaultheader");
	 $(window).scroll(function() {
        var scroll = $(window).scrollTop();

        if (scroll >=5)
		{
			/*$('.navbar-brand').css('background-image', 'url(resource/css/img/logo.png)');

			$('.main-header .navbar .nav > li > a').css('color', 'black');
				$(".main-header .navbar .nav > li > a").hover(function(e) {
				$(this).css("color",e.type === "mouseenter"?"#b92917":"black")
				});
				$(".main-header .navbar .nav > li > a").hover(function(e) {
				$(this).css("border-bottom",e.type === "mouseenter"?"2px solid #b92917":"black")
				});*/
			header.removeClass('defaultheader').addClass("bgheader");
        } else
		{
			header.removeClass("bgheader").addClass('defaultheader');
        }
    });
});

   $.getJSON('https://geoip-db.com/json/geoip.php?jsonp=?')
         .done (function(location)
         {
            var country=location.country_name;
            var state=location.state;
            var city=location.city;
            if (location.country_name == null) {
              country = "";
              $("#location").val(city+", "+state+" "+country);
            } else if (location.state == null) {
              state = "";
              $("#location").val(city+", "+state+"  "+country);
            } else if (location.city == null) {
              city = "";
              $("#location").val(city+"  "+state+", "+country);
            } else {
              $("#location").val(city+", "+state+", "+country);
            }
         });

$(document).ready(function(){
	$("#jobs_by_category_panel").hide();
    $("#jobs_by_city_panel").hide();
	$("#jobs_by_state_panel").hide();

	$("#jobs_by_category_flip").click(function()
	{
		 $("#jobs_by_category_panel").slideToggle("slow");
		 $("#jobs_by_city_panel").slideUp("slow");
		 $("#jobs_by_state_panel").slideUp("slow");
    });

    $("#jobs_by_city_flip").click(function()
	{
		$("#jobs_by_city_panel").slideToggle("slow");
		$("#jobs_by_category_panel").slideUp("slow");
		$("#jobs_by_state_panel").slideUp("slow");
    });

	$("#jobs_by_state_flip").click(function()
	{
		 $("#jobs_by_state_panel").slideToggle("slow");
		 $("#jobs_by_city_panel").slideUp("slow");
		$("#jobs_by_category_panel").slideUp("slow");
    });
});
$('.responsive-tabs').responsiveTabs({
  accordionOn: ['xs', 'sm'] // xs, sm, md, lg
});
  </script>
